<!DOCTYPE html>  
<html>  
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF8">
<meta http-equiv="refresh" content="8">
<title>UPS 監控看板</title>
<style type="text/css">
.child {
	display: inline-block;
}
</style>
</head>
<body>
<div class="container">
	<div id="left" class="child"></div>
	<div id="right" class="child"></div>
</div>
</body>
<script type="text/javascript">
const left = document.getElementById('left')
const right = document.getElementById('right')
//{{ 資料 }} <-- Flask render_template 參數傳遞
left.append("UPS 連接位置 : " + "{{serName_A}}")
left.append(document.createElement("br"))
left.append("-------------------------------------------------------------")
left.append(document.createElement("br"))
left.append("輸入線路 : " + {{inputLine_A}} + " 號線路")
left.append(document.createElement("br"))
left.append("輸入頻率 : " + {{inputFreq_A}} + " Hz")
left.append(document.createElement("br"))
left.append("輸入電壓 : " + {{inputVolt_A}} + " V")
left.append(document.createElement("br"))
left.append("-------------------------------------------------------------")
left.append(document.createElement("br"))
left.append("輸出狀態 : " + "{{systemMode_A}}")
left.append(document.createElement("br"))
left.append("輸出線路 : " + {{outputLine_A}}+ " 號線路")
left.append(document.createElement("br"))
left.append("輸出頻率 : " + {{outputFreq_A}}+ " Hz")
left.append(document.createElement("br"))
left.append("輸出電壓 : " + {{outputVolt_A}} + " V")
left.append(document.createElement("br"))
left.append("輸出電流 : " + {{outputAmp_A}} + " A")
left.append(document.createElement("br"))
left.append("輸出瓦特 : " + {{outputWatt_A}} + " KW")
left.append(document.createElement("br"))
left.append("輸出負載比 : " + {{outputPercent_A}} + " %")
left.append(document.createElement("br"))
left.append("-------------------------------------------------------------")
left.append(document.createElement("br"))
left.append("電池健康度 : " + "{{batteryHealth_A}}")
left.append(document.createElement("br"))
left.append("電池狀態 : " + "{{batteryStatus_A}}")
left.append(document.createElement("br"))
left.append("充電模式 : " + "{{batteryCharge_Mode_A}}")
left.append(document.createElement("br"))
left.append("電池電壓 : " + {{batteryVolt_A}} + " V")
left.append(document.createElement("br"))
left.append("輸出剩餘時間(分) : " + "{{batteryRemain_Min_A}}")
left.append(document.createElement("br"))
left.append("輸出剩餘時間(秒) : " + "{{batteryRemain_Sec_A}}")
left.append(document.createElement("br"))
left.append("電量剩餘百分比 : " + {{batteryRemain_Percent_A}} + " %")
left.append(document.createElement("br"))
left.append("UPS 內部溫度 : " + {{batteryTemp_A}} + " °C")
left.append(document.createElement("br"))
left.append("-------------------------------------------------------------")
left.append(document.createElement("br"))
left.append("電池更換時間 : " + {{lastBattery_Year_A}} + " 年 " + {{lastBattery_Mon_A}} + " 月 " + {{lastBattery_Day_A}} + " 日")
left.append(document.createElement("br"))
left.append("下次更換時間 : " + {{nextBattery_Year_A}} + " 年 " + {{nextBattery_Mon_A}} + " 月 " + {{nextBattery_Day_A}} + " 日")
left.append(document.createElement("br"))
left.append("-------------------------------------------------------------")

right.append("UPS 連接位置 : " + "{{serName_B}}")
right.append(document.createElement("br"))
right.append("-------------------------------------------------------------")
right.append(document.createElement("br"))
right.append("輸入線路 : " + {{inputLine_B}} + " 號線路")
right.append(document.createElement("br"))
right.append("輸入頻率 : " + {{inputFreq_B}} + " Hz")
right.append(document.createElement("br"))
right.append("輸入電壓 : " + {{inputVolt_B}} + " V")
right.append(document.createElement("br"))
right.append("-------------------------------------------------------------")
right.append(document.createElement("br"))
right.append("輸出狀態 : " + "{{systemMode_B}}")
right.append(document.createElement("br"))
right.append("輸出線路 : " + {{outputLine_B}}+ " 號線路")
right.append(document.createElement("br"))
right.append("輸出頻率 : " + {{outputFreq_B}}+ " Hz")
right.append(document.createElement("br"))
right.append("輸出電壓 : " + {{outputVolt_B}} + " V")
right.append(document.createElement("br"))
right.append("輸出電流 : " + {{outputBmp_B}} + " A")
right.append(document.createElement("br"))
right.append("輸出瓦特 : " + {{outputWatt_B}} + " KW")
right.append(document.createElement("br"))
right.append("輸出負載比 : " + {{outputPercent_B}} + " %")
right.append(document.createElement("br"))
right.append("-------------------------------------------------------------")
right.append(document.createElement("br"))
right.append("電池健康度 : " + "{{batteryHealth_B}}")
right.append(document.createElement("br"))
right.append("電池狀態 : " + "{{batteryStatus_B}}")
right.append(document.createElement("br"))
right.append("充電模式 : " + "{{batteryCharge_Mode_B}}")
right.append(document.createElement("br"))
right.append("電池電壓 : " + {{batteryVolt_B}} + " V")
right.append(document.createElement("br"))
right.append("輸出剩餘時間(分) : " + "{{batteryRemain_Min_B}}")
right.append(document.createElement("br"))
right.append("輸出剩餘時間(秒) : " + "{{batteryRemain_Sec_B}}")
right.append(document.createElement("br"))
right.append("電量剩餘百分比 : " + {{batteryRemain_Percent_B}} + " %")
right.append(document.createElement("br"))
right.append("UPS 內部溫度 : " + {{batteryTemp_B}} + " °C")
right.append(document.createElement("br"))
right.append("-------------------------------------------------------------")
right.append(document.createElement("br"))
right.append("電池更換時間 : " + {{lastBattery_Year_B}} + " 年 " + {{lastBattery_Mon_B}} + " 月 " + {{lastBattery_Day_B}} + " 日")
right.append(document.createElement("br"))
right.append("下次更換時間 : " + {{nextBattery_Year_B}} + " 年 " + {{nextBattery_Mon_B}} + " 月 " + {{nextBattery_Day_B}} + " 日")
right.append(document.createElement("br"))
right.append("-------------------------------------------------------------")
</script>
</html>  
